/* CSS da página da agenda */
#agenda{
  position: relative;
  width: 350px;
  left: 60px;
}
.form-agenda > input[type=text]{
  position: relative;
  width: 290px;
  color: #000;
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px #696969;
  box-shadow: none;
}
.form-agenda > input[type=color]{
  position: relative;
  width: 290px;
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px #696969;
  box-shadow: none;
}
.form-agenda > select{
  position: relative;
  width: 290px;
  color: #000;
  border: none;
  border-radius: 0px;
  border-bottom: solid 1px #696969;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.form-agenda > select::-ms-expand{
  display: none;
}
.form-agenda > select:focus{
  box-shadow: none;
}
.form-agenda > .dropdown > button{
  text-align: justify;
  box-shadow: none;
  border: none;
}
.form-agenda > .dropdown > .dropdown-menu {
  box-shadow: none;
}
.agenda-eventos{
border-radius: 5px;
}
.agenda-cor-evento{
position: relative;
width: 30px;
height: 6px;
margin: 4% 0 0 3%;
border-radius: 5px;
}
.agenda-mais-evento{
position: relative;
margin: 0 3% 0 4%;
}