*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background-color:white;
    font-family: arial;
}
#cabecalhoMembros{
    color:#707070;
    padding: 0 0 0 5%;
}
#user{
    margin-left:1%;
    color:#00e6be;
}
#startups{
    color:#707070;
    padding: 1% 0 0 5%;
}
#container{
    margin: 5% 0 0 4%;
    width: 60%;
    float: left;
}
.row{
    margin-top: 3%;
}
.logostartups{
    width: 90%;
}
.nomeStartup{
    color:#707070;
}
#mentores{
    color:#707070;
    float: right;
    margin-right: 20%; 
}
.membrosStartup{
    width: 40px;
    border-radius:100%; 
}
.mentor{
    width: 10%;
    border-radius:100%;
    
}
.ment{
    color:#707070;
   
}
.p{
    color:#707070;
}
#tudo{
    width: 90%;
}
